# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Виртуальное окружение
venv/
env/
ENV/
.env

# База данных
*.db
*.sqlite3
*.sqlite

# IDE
.idea/
.vscode/
*.swp
*.swo
.vs/
*.sublime-workspace
*.sublime-project

# Логи и временные файлы
*.log
logs/
*.tmp
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/
.mypy_cache/

# Vercel
.vercel

# Системные файлы
.DS_Store
Thumbs.db
